:root {
  --color-red: #ea4335;
  --color-blue: #4285f4;
  --color-yellow: #fbbc05;
  --color-green: #34a853;
}

.bounce {
  display: flex;
  align-items: flex-end;
}

.loader-bounce {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  margin: 0.4rem;
  animation: loader-bounce 1.4s infinite ease-in-out;
}

.bounce-blue {
  background-color: var(--color-blue);
}

.bounce-red {
  background-color: var(--color-red);
  animation-delay: 0.2s;
}

.bounce-yellow {
  background-color: var(--color-yellow);
  animation-delay: 0.4s;
}

.bounce-green {
  background-color: var(--color-green);
  animation-delay: 0.6s;
}

@keyframes loader-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.2rem);
  }
}
